<new-boost
  data-boosts-target="form"
  class="rounded-full bg-white flex  items-center justify-start px-2 mx-2 py-1 relative trix-hidden__block-tools text-sm">
  <%= form_for [boostable, boostable.boosts.new], html: {class: "flex  items-center justify-center"} do |f|%>
    <%= f.text_field :message, placeholder: "Boost Ahmed", class: "focus:outline-none" %>

    <button class="w-7 h-7 rounded-full border border--green text--green focus:outline-none" aria-label="boost comment">
      <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>        </button>

    <button
      type="button"
      data-action="click->boosts#hideForm"
      class="rounded-full border border-red-600 mx-2 focus:outline-none" aria-label="cancel boost of comment">
      <svg class="w-4 h-4 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </button>
  <% end %>
</new-boost>