<%= turbo_frame_tag "new_comment" do %>
  <%= form_for [@commentable, @commentable.comments.new] do |f|%>
    <section class="bg-white p-2 w-full my-2 border border--body rounded-lg">
      <%= f.rich_text_area :content, placeholder: 'Type your comment here' %>
    </section>

    <button type="submit" class="text-sm button__green px-3 py-2 rounded-full">Add this comment</button>
  <% end %>
<% end %>