<%= turbo_stream.remove dom_id @comment %>

<%= turbo_stream.replace "comments-count" do %>
  <h1
    id="comments-count"
    class="bg--blue rounded-full h-10 w-10 text-center text-white text-2xl rounded-full">
    <%= @commentable.comments.count %>
  </h1>
<% end %>