<%= turbo_stream.replace "todos-#{@todo_set.id}-count" do %>

  <h1 class="text--gray font-medium text-sm" id="todos-<%= @todo_set.id %>-count">
    <%= @todo_set.display_todos_status %>
    completed
  </h1>
<% end %>

<%= turbo_stream.append "todos-#{ @todo_set.id}", @todo %>