<%= turbo_stream.replace "todos-#{@todo_list.id}-count" do %>

  <h1 class="text--gray font-medium text-sm" id="todos-<%= @todo_list.id %>-count">
    <%= @todo_list.display_todos_status %>
    completed
  </h1>
<% end %>

<%= turbo_stream.append "todos-#{ @todo_list.id}", @todo %>